astroid==2.4.2
backports.entry-points-selectable==1.1.1
click==8.0.3
colorama==0.4.3
distlib==0.3.4
filelock==3.4.0
Flask==2.0.2
isort==5.5.4
itsdangerous==2.0.1
Jinja2==3.0.3
lazy-object-proxy==1.4.3
MarkupSafe==2.0.1
mccabe==0.6.1
platformdirs==2.4.0
pylint==2.6.0
Sastrawi==1.0.1
six==1.15.0
toml==0.10.1
virtualenv==20.10.0
Werkzeug==2.0.2
wrapt==1.12.1
